<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :task_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :task_description%>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.select :duration, [5, 10, 15, 20], id: :task_duration %>
  </div>

  <div class="field">
    <%= form.label :done %>
    <%= form.check_box :done, id: :task_done %>
  </div>

  <div class="field">
    <%= form.label :all_tags %>
    <%= form.text_field :all_tags, placeholder: "tags here separated with a comma" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
