<!DOCTYPE html>
<html>
  <head>
    <title>Tasklist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Manjari|Roboto&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
  <header>
  <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <%= link_to 'Task List', root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link"%>
            </li>
          </ul>
          <%= form_with(url: search_path, method: :get, local: true, html: {class: "form-inline mt-2 mt-md-0"}) do |form| %>
            <%= form.text_field :query, class: "form-control mr-sm-2", placeholder: "Search" %>
            <%= form.submit :search, class: "btn btn-secondary my-2 my-sm-0", placeholder: "submit"%>
          <% end %>
        <% end %>
      </div>
    </nav>
  </header>
  <div class="content">
    <%= flash[:notice] %>
    <%= yield %>
  </div>
  </body>
</html>
